<p>Dans chaque page web, le texte et le texte en image sans effet de graisse d’une taille restituée inférieure à 24px vérifient-ils une de ces conditions (hors cas particuliers) ?</p>

<ul>
<li>Le rapport de <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#contraste">contraste</a> entre le texte et son arrière-plan est de 4.5:1, au moins.</li>
<li>Un mécanisme permet à l’utilisateur d’afficher le texte avec un rapport de <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#contraste">contraste</a> de 4.5:1, au moins.?</li>
</ul>