<p>Chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#script">script</a> qui génère ou contrôle un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#composant-d-interface">composant d’interface</a> respecte-t-il une de ces conditions ?</p>

<ul>
<li>Le <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#composant-d-interface">composant d’interface</a> est <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#correctement-restitue-par-les-technologies-d-assistance">correctement restitué</a> par les technologies d’assistance.</li>
<li>Une <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#alternative-a-script">alternative</a> accessible permet d’accéder aux mêmes fonctionnalités.</li>
</ul>