<p>Dans chaque page web, les balises ne doivent pas être utilisées <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#uniquement-a-des-fins-de-presentation">uniquement à des fins de présentation</a>. Cette règle est-elle respectée ?</p>