<p>Dans chaque page web, un lien permet-il d’éviter la <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#zone-de-contenu-principal">zone de contenu principal</a> ou d’y accéder (hors cas particuliers) ?</p>