<p>Dans ces situations, les critères sont non applicables pour ces éléments.</p>

<ul>
<li>Le texte fait partie d’un logo ou d’un nom de marque d’un organisme ou d’une société ;</li>
<li>Le texte ou l’image de texte est purement décoratif ;</li>
<li>Le texte fait partie d’une image véhiculant une information mais le texte lui-même n’apporte aucune information essentielle ;</li>
<li>Le texte ou l’image de texte fait partie d’un élément d’interface sur lequel aucune action n’est possible (par exemple un bouton avec l’attribut <code>disabled</code>).</li>
</ul>