<p>Dans chaque page web, le <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#contraste">contraste</a> entre la couleur du texte et la couleur de son arrière-plan est-il suffisamment élevé (hors cas particuliers) ?</p>