<p>Pour chaque page web, le code source généré est-il valide selon le <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#type-de-document">type de document</a> spécifié (hors cas particuliers) ?</p>