<p>Dans chaque page web, chaque contenu cryptique (art ASCII, émoticon, syntaxe cryptique) vérifie-t-il une de ces conditions ?</p>

<ul>
<li>Le contenu de l’attribut <code>title</code> est pertinent.</li>
<li>La définition donnée par le contexte adjacent est pertinente.</li>
</ul>