<p>Chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#zone-non-cliquable">zone non cliquable</a> (balise <code>&lt;area&gt;</code> sans attribut <code>href</code>) <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#image-de-decoration">de décoration</a>, vérifie-t-elle une de ces conditions ?</p>

<ul>
<li>La balise <code>&lt;area&gt;</code> possède un attribut <code>alt</code> vide (<code>alt=""</code>) et est dépourvue de tout autre attribut permettant de fournir une <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#alternative-textuelle-image">alternative textuelle</a>.</li>
<li>La balise <code>&lt;area&gt;</code> possède un attribut WAI-ARIA <code>aria-hidden="true"</code> ou <code>role="presentation"</code>.</li>
</ul>