<p>Dans chaque page web, l’information est-elle structurée par l’utilisation appropriée de <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#titre">titres</a> ?</p>