<p>Les test 11.4.2 et 11.4.3 seront considérés comme non applicable :</p>

<ul>
<li>Dans le cas où l’<a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#etiquette-de-champ-de-formulaire">étiquette</a> mélange une portion de texte qui se lit de droite à gauche avec une portion de texte qui se lit de gauche à droite.</li>
<li>Dans le cas où un formulaire contient des labels de plusieurs langues qui se liraient de droite à gauche et inversement. Par exemple un formulaire de commande en arabe qui propose une liste de cases à cocher de produit en langue française ou mixant des produits en langue arabe ou en langue française.</li>
<li>Dans le cas où les champs de type <code>radio</code> ou <code>checkbox</code> et les balises ayant un attribut WAI-ARIA <code>role="checkbox"</code>, <code>role="radio"</code> ou <code>role="switch"</code> ne sont pas visuellement présentés sous forme de bouton radio ou de case à cocher</li>
<li>Dans le cas où les champs seraient utilisés dans un contexte où il pourrait être légitime, du point de vue de l’expérience utilisateur, de placer les étiquettes de manière différente à celle requise dans les tests 11.4.2 et 11.4.3.</li>
</ul>