<p>Chaque document bureautique ayant une version accessible vérifie-t-il une de ces conditions ?</p>

<ul>
<li>La version compatible avec l’accessibilité offre la même information.</li>
<li>La version alternative au format HTML est pertinente et offre la même information.</li>
</ul>