<p>Pour chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#media-non-temporel">média non temporel</a> ayant une alternative, cette alternative est-elle pertinente ?</p>