<p>Dans chaque page web, les informations regroupées sous forme de <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#listes">liste</a> de description utilisent-elles les balises <code>&lt;dl&gt;</code> et <code>&lt;dt&gt;/&lt;dd&gt;</code> ?</p>