<p>Dans chaque page web, chaque contenu caché vérifie-t-il une de ces conditions ?</p>

<ul>
<li>Le <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#contenu-cache">contenu caché</a> a vocation à être ignoré par les technologies d’assistance.</li>
<li>Le <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#contenu-cache">contenu caché</a> n’a pas vocation à être ignoré par les technologies d’assistances et est rendu restituable par les technologies d’assistance suite à une action de l’utilisateur réalisable au clavier ou par tout dispositif de pointage sur un élément précédent le contenu caché ou suite à un repositionnement du focus dessus.</li>
</ul>