<p>Pour chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#tableau-de-mise-en-forme">tableau de mise en forme</a>, le contenu linéarisé reste-t-il compréhensible (hors cas particuliers) ?</p>