<p>Pour chaque page web, les <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#contenu-cache">contenus cachés</a> ont-ils vocation à être ignorés par les technologies d’assistance ?</p>