<p>Pour chaque balise pourvue d’un attribut WAI-ARIA <code>role="rowheader"</code> ou <code>"columnheader"</code> dont le contenu s’applique à la totalité de la ligne ou de la colonne, la balise vérifie-t-elle une de ces conditions ?</p>

<ul>
<li>La balise possède un attribut WAI-ARIA <code>role="rowheader"</code> pour les <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#en-tete-de-colonne-ou-de-ligne">en-têtes de lignes</a>.</li>
<li>La balise possède un attribut WAI-ARIA <code>role="columnheader"</code> pour les <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#en-tete-de-colonne-ou-de-ligne">en-têtes de colonnes</a>.</li>
</ul>