<p>Chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#media-non-temporel">média non temporel</a> a-t-il, si nécessaire, une alternative (hors cas particuliers) ?</p>