<p>Il existe une gestion de cas particulier lorsque :</p>

<ul>
<li>Le <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#media-non-temporel">média non temporel</a> est utilisé à des fins décoratives (c’est-à-dire qu’il n’apporte aucune information);</li>
<li>Le média non temporel est diffusé dans un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#environnement-maitrise">environnement maîtrisé</a>;</li>
<li>Le média non temporel est inséré via JavaScript en vérifiant la présence et la version du plug-in, en remplacement d’un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#contenu-alternatif">contenu alternatif</a> déjà présent.</li>
</ul>

<p>Dans ces situations, le critère est non applicable.</p>