<p>Dans chaque page web, l’utilisation des espaces vérifie-t-elle ces conditions ?</p>

<ul>
<li>Les espaces ne sont pas utilisés pour séparer les lettres d’un mot.</li>
<li>Les espaces ne sont pas utilisés pour simuler des tableaux.</li>
<li>Les espaces ne sont pas utilisés pour simuler des colonnes de texte.</li>
</ul>