<p>La <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#page-plan-du-site">page « plan du site »</a> est-elle représentative de l’architecture générale du site ?</p>