<p>Chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#media-non-temporel">média non temporel</a> vérifie-t-il, si nécessaire, une de ces conditions (hors cas particuliers) ?</p>

<ul>
<li>Un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#lien-ou-bouton-adjacent">lien ou bouton adjacent</a>, clairement identifiable, contient l’adresse (<a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#url">url</a>) d’une page contenant une alternative.</li>
<li>Un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#lien-ou-bouton-adjacent">lien ou bouton adjacent</a>, clairement identifiable, permet d’accéder à une alternative dans la page.</li>
</ul>