<p>Pour chaque page web, chaque procédé limitant le temps d’une session vérifie-t-il une de ces conditions (hors cas particuliers) ?</p>

<ul>
<li>L’utilisateur peut supprimer la limite de temps.</li>
<li>L’utilisateur peut augmenter la limite de temps.</li>
<li>La limite de temps avant la fin de la session est de vingt heures au moins.</li>
</ul>