<p>Chaque image bitmap (balise <code>&lt;canvas&gt;</code>) <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#image-porteuse-d-information">porteuse d’information</a>, vérifie-t-elle une de ces conditions ?</p>

<ul>
<li>La balise <code>&lt;canvas&gt;</code> possède une alternative textuelle</li>
<li>Un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#contenu-alternatif">contenu alternatif</a> est présent entre les balises <code>&lt;canvas&gt;</code> et <code>&lt;/canvas&gt;</code></li>
<li>L’élément <code>&lt;canvas&gt;</code> est immédiatement suivi d’un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#lien-ou-bouton-adjacent">lien ou bouton adjacent</a> permettant d’accéder à un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#contenu-alternatif">contenu alternatif</a>.</li>
<li>Un mécanisme permet à l’utilisateur de remplacer l’élément <code>&lt;canvas&gt;</code> par un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#contenu-alternatif">contenu alternatif</a>.</li>
</ul>