<p>Chaque bouton de type image (balise <code>&lt;input&gt;</code> avec l’attribut <code>type="image"</code>) a-t-il une <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#alternative-textuelle-image">alternative textuelle</a> ?</p>