<p>Dans chaque page web, chaque déclaration CSS de couleurs de police (<code>color</code>), d’un élément susceptible de contenir du texte, est-elle accompagnée d’une déclaration de couleur de fond (<code>background</code>, <code>background-color</code>), au moins, héritée d’un parent ?</p>