<p>Pour chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#media-non-temporel">média non temporel</a> ayant une alternative, cette alternative permet-elle d’accéder au même contenu et à des fonctionnalités similaires ?</p>