<p>Pour chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#tableau-de-donnees">tableau de données</a>, chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#en-tete-de-colonne-ou-de-ligne">en-tête de colonnes</a> s’appliquant à la totalité de la colonne vérifie-t-il une de ces conditions ?</p>

<ul>
<li>L’<a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#en-tete-de-colonne-ou-de-ligne">en-tête de colonnes</a> est structuré au moyen d’une balise <code>&lt;th&gt;</code>.</li>
<li>L’<a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#en-tete-de-colonne-ou-de-ligne">en-tête de colonnes</a> est structuré au moyen d’une balise pourvue d’un attribut WAI-ARIA <code>role="columnheader"</code>.</li>
</ul>