<p>Font exception à ce critère les contenus dont l’agencement requiert deux dimensions pour être compris ou utilisés comme :</p>

<ul>
<li>Les images, les graphiques ou les vidéos.</li>
<li>Les jeux (jeux de plateforme, par exemple).</li>
<li>Les présentations (type diaporama, par exemple).</li>
<li>Les tableaux de données (complexes).</li>
<li>Les interfaces où il est nécessaire d’avoir un ascenseur horizontal lors de la manipulation de l’interface.</li>
</ul>

<p>Note : la majorité des navigateurs sur les systèmes d’exploitation mobile (Android, iOS) ne gère pas correctement la redistribution en cas de zoom. Dans ce contexte le critère sera considéré comme non applicable sur ces environnements.</p>