<p>Chaque bouton affichant un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#intitule-visible">intitulé visible</a> vérifie-t-il ces conditions (hors cas particuliers) ?</p>

<ul>
<li>S’il est présent, le contenu de l’attribut WAI-ARIA <code>aria-label</code> contient au moins l’<a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#intitule-visible">intitulé visible</a>.</li>
<li>S’il est présent, le <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#passage-de-texte-lie-par-aria-labelledby-ou-aria-describedby">passage de texte</a> lié au bouton via un attribut WAI-ARIA <code>aria-labelledby</code> contient au moins l’<a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#intitule-visible">intitulé visible</a>.</li>
<li>S’il est présent, le contenu de l’attribut value d’une balise <code>&lt;input&gt;</code> de type submit, reset ou button contient au moins l’<a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#intitule-visible">intitulé visible</a>.</li>
<li>S’il est présent, le contenu de la balise <code>&lt;button&gt;</code> contient au moins l’<a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#intitule-visible">intitulé visible</a>.</li>
<li>S’il est présent, le contenu de l’attribut alt d’une balise <code>&lt;input&gt;</code> de type image contient au moins l’<a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#intitule-visible">intitulé visible</a>.</li>
<li>S’il est présent, le contenu de l’attribut title contient au moins l’<a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#intitule-visible">intitulé visible</a>.</li>
</ul>