<p>Pour chaque image vectorielle (balise <code>&lt;svg&gt;</code>) <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#image-porteuse-d-information">porteuse d’information</a>, ayant une <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#alternative-textuelle-image">alternative textuelle</a>, cette alternative est-elle pertinente (hors cas particuliers) ?</p>

<ul>
<li>S’il est présent, le contenu de l’attribut <code>title</code> est pertinent.</li>
<li>S’il est présent, le contenu de l’attribut WAI-ARIA <code>aria-label</code> est pertinent.</li>
<li>S’il est présent, le <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#passage-de-texte-lie-par-aria-labelledby-ou-aria-describedby">passage de texte</a> associé via l’attribut WAI-ARIA <code>aria-labelledby</code> est pertinent.</li>
</ul>