<p>Chaque séquence sonore déclenchée automatiquement via une balise <code>&lt;object&gt;</code>, <code>&lt;video&gt;</code>, <code>&lt;audio&gt;</code>, <code>&lt;embed&gt;</code>, <code>&lt;bgsound&gt;</code> ou un code JavaScript vérifie-t-elle une de ces conditions ?</p>

<ul>
<li>La séquence sonore a une durée inférieure ou égale à 3 secondes.</li>
<li>La séquence sonore peut être stoppée sur action de l’utilisateur.</li>
<li>Le volume de la séquence sonore peut être contrôlé par l’utilisateur indépendamment du contrôle de volume du système.</li>
</ul>