<p>Il y a une gestion de cas particulier sur la conformité du code HTML.</p>

<p>Pour accompagner la prise en charge progressive de HTML par les navigateurs, les APIs d’accessibilité et les technologies d’assistance, certains critères peuvent exiger la présence d’attributs ou de balises déclarés « obsolètes » en HTML. Par ailleurs, dans la mesure où des balises ou des attributs déclarés « obsolètes » sont utilisés, ils restent soumis aux autres critères du RGAA (exemple la balise <code>&lt;marquee&gt;</code> serait non conforme par rapport au <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#crit-13-8">critère 13.8</a>) et leur support d’accessibilité doit être vérifié au regard de l’environnement de test (ou « base de référence ») retenu.</p>