<p>Dans chaque page web, le rapport de <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#contraste">contraste</a> entre les couleurs d’un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#composant-d-interface">composant d’interface</a> dans ses différents états et la <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#couleur-d-arriere-plan-contigue-et-couleur-contigue">couleur d’arrière-plan contiguë</a> vérifie-t-il une de ces conditions (hors cas particuliers) ?</p>

<ul>
<li>Le rapport de <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#contraste">contraste</a> est de 3:1, au moins.</li>
<li>Un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#mecanisme-qui-permet-d-afficher-un-rapport-de-contraste-conforme">mécanisme</a> permet un rapport de <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#contraste">contraste</a> de 3:1, au moins.</li>
</ul>