<p>Le test 11.10.1 sera considéré comme non applicable lorsque le formulaire comporte un seul <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#champ-de-saisie-de-formulaire">champ de formulaire</a> ou qu’il indique les champs optionnels de manière :</p>

<ul>
<li>Visible ;</li>
<li>Dans la balise <code>&lt;label&gt;</code> ou dans la <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#legende">légende</a> associée au champ.</li>
</ul>

<p>Dans le cas où l’ensemble des champs d’un formulaire sont obligatoires, le test 11.10.1 reste applicable.</p>