<p>Dans chaque page web, chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#prise-de-focus">élément recevant le focus</a> vérifie-t-il une de ces conditions ?</p>

<ul>
<li>Il est possible d’atteindre l’élément suivant ou précédent pouvant recevoir le focus avec la touche de tabulation.</li>
<li>L’utilisateur est informé d’un mécanisme fonctionnel permettant d’atteindre au clavier l’élément suivant ou précédent pouvant recevoir le focus.</li>
</ul>