<p>Pour chaque contenu de balise <code>&lt;th&gt;</code> s’appliquant à la totalité de la ligne ou de la colonne, la balise <code>&lt;th&gt;</code> respecte-t-elle une de ces conditions (hors cas particuliers) ?</p>

<ul>
<li>La balise <code>&lt;th&gt;</code> possède un attribut <code>id</code> unique.</li>
<li>La balise <code>&lt;th&gt;</code> possède un attribut <code>scope</code>.</li>
<li>La balise <code>&lt;th&gt;</code> possède un attribut WAI-ARIA <code>role="rowheader"</code> ou <code>"columnheader"</code>.</li>
</ul>