<p>Pour chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#media-non-temporel">média non temporel</a>, chaque fonctionnalité vérifie-t-elle une de ces conditions ?</p>

<ul>
<li>La fonctionnalité est <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#accessible-et-activable-par-le-clavier-et-tout-dispositif-de-pointage">accessible par le clavier et tout dispositif de pointage</a>.</li>
<li>Une fonctionnalité <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#accessible-et-activable-par-le-clavier-et-tout-dispositif-de-pointage">accessible par le clavier et tout dispositif de pointage</a> permettant de réaliser la même action est présente dans la page.</li>
</ul>