<p>Les instructions et indications du type de données et/ou de format obligatoires vérifient-elles une de ces conditions ?</p>

<ul>
<li>Une instruction ou une indication du type de données et/ou de format obligatoire est visible et permet d’identifier nommément le champ concerné préalablement à la validation du formulaire.</li>
<li>Une instruction ou une indication du type de données et/ou de format obligatoire est visible dans l’étiquette ou le <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#passage-de-texte-lie-par-aria-labelledby-ou-aria-describedby">passage de texte</a> associé au champ préalablement à la validation du formulaire.</li>
</ul>