<p>Dans chaque page web, le rapport de <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#contraste">contraste</a> des différentes <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#couleur-d-arriere-plan-contigue-et-couleur-contigue">couleurs contiguës</a> entre elles d’un élément graphique, lorsqu’elles sont nécessaires à sa compréhension, vérifie-t-il une de ces conditions (hors cas particuliers) ?</p>

<ul>
<li>Le rapport de <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#contraste">contraste</a> est de 3:1, au moins.</li>
<li>Un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#mecanisme-qui-permet-d-afficher-un-rapport-de-contraste-conforme">mécanisme</a> permet un rapport de <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#contraste">contraste</a> de 3:1, au moins.</li>
</ul>