<p>Les messages d’erreurs fournissant une instruction ou une indication du type de données et/ou de format obligatoire des champs vérifient-ils une de ces conditions ?</p>

<ul>
<li>Le message d’erreur fournissant une instruction ou une indication du type de données et/ou de format obligatoires est visible et identifie le champ concerné.</li>
<li>Le champ dispose de l’attribut aria-invalid="true".</li>
</ul>