<p>Dans chaque page web, chaque texte dont le <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#sens-de-lecture">sens de lecture</a> est différent du sens de lecture par défaut est contenu dans une balise possédant un attribut <code>dir</code> ?</p>