<p>Dans chaque page web, chaque contenu en mouvement, déclenché automatiquement, vérifie-t-il une de ces conditions ?</p>

<ul>
<li>La durée du mouvement est inférieure ou égale à 5 secondes.</li>
<li>L’utilisateur peut arrêter et relancer le mouvement.</li>
<li>L’utilisateur peut afficher et masquer le contenu en mouvement.</li>
<li>L’utilisateur peut afficher la totalité de l’information sans le mouvement.</li>
</ul>