<p>Dans chaque page web, chaque script qui provoque un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#changement-brusque-de-luminosite-ou-effet-de-flash">changements brusques de luminosité ou les effets de flash</a> vérifie-t-il une de ces conditions ?</p>

<ul>
<li>La fréquence de l’effet est inférieure à 3 par seconde.</li>
<li>La surface totale cumulée des effets est inférieure ou égale à 21824 pixels.</li>
</ul>