<p>Chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#tableau-de-mise-en-forme">tableau de mise en forme</a> (balise <code>&lt;table&gt;</code>) vérifie-t-il ces conditions ?</p>

<ul>
<li>Le tableau de mise en forme (balise <code>&lt;table&gt;</code>) ne contient pas de balises <code>&lt;caption&gt;</code>, <code>&lt;th&gt;</code>, <code>&lt;thead&gt;</code>, <code>&lt;tfoot&gt;</code>, <code>&lt;colgroup&gt;</code> ou de balises ayant un attribut WAI-ARIA <code>role="rowheader"</code>, <code>role="columnheader"</code>.</li>
<li>Les cellules du tableau de mise en forme (balises <code>&lt;td&gt;</code>) ne possèdent pas d’attributs <code>scope</code>, <code>headers</code>, <code>axis</code>.</li>
</ul>