<p>Il y a une gestion de cas particuliers sur le changement de langue pour les cas suivants :</p>

<ul>
<li>Nom propre, le critère est non applicable ;</li>
<li>Nom commun de langue étrangère présent dans le dictionnaire officiel de la langue (voir note 1 ci-dessous) par défaut de la page web, le critère est non applicable ;</li>
<li>Le terme de langue étrangère soumis, via un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#champ-de-saisie-de-formulaire">champ de formulaire</a> et rappelé dans la page (par exemple comme indication du terme recherché dans le cas d’un moteur de recherche), le critère est non applicable ;</li>
<li>Passage de texte dont la langue ne peut pas être déterminée : le critère est non applicable ;</li>
<li>Terme ou passage de texte issus d’une langue morte ou imaginaire pour laquelle il n’existe pas d’interprétation vocale: le critère est non applicable.</li>
</ul>

<p>Note 1 : le dictionnaire officiel est celui recommandé par l’académie en charge de la langue en question. Pour la France, par exemple, le lien vers le dictionnaire officiel se trouve sur le site de l’Académie française à l’adresse suivante : <a href="http://www.academie-francaise.fr/le-dictionnaire/la-9e-edition">http://www.academie-francaise.fr/le-dictionnaire/la-9e-edition</a>. Pour toute demande auprès du service du dictionnaire de l’Académie française, utiliser le formulaire de contact du service du dictionnaire.</p>

<p>Note 2 : pour les noms communs de langue étrangère, absents dans le dictionnaire officiel de la langue par défaut de la page web, et qui sont passés dans le langage commun (exemple : newsletter) : le critère est applicable, uniquement lorsque l’absence d’indication de langue peut provoquer une incompréhension pour la restitution.</p>