<p>Chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#image-objet">image objet</a> (balise <code>&lt;object&gt;</code> avec l’attribut <code>type="image/…"</code>) <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#image-porteuse-d-information">porteuse d’information</a>, vérifie-t-elle une de ces conditions ?</p>

<ul>
<li>La balise <code>&lt;object&gt;</code> possède une <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#alternative-textuelle-image">alternative textuelle</a></li>
<li>L’élément <code>&lt;object&gt;</code> est immédiatement suivi d’un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#lien-ou-bouton-adjacent">lien ou bouton adjacent</a> permettant d’accéder à un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#contenu-alternatif">contenu alternatif</a>.</li>
<li>Un mécanisme permet à l’utilisateur de remplacer l’élément <code>&lt;object&gt;</code> par un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#contenu-alternatif">contenu alternatif</a>.</li>
</ul>