<p>Les messages d’erreur indiquant l’absence de saisie d’un champ obligatoire vérifient-ils une de ces conditions ?</p>

<ul>
<li>le message d’erreur indiquant l’absence de saisie d’un champ obligatoire est visible et permet d’identifier nommément le champ concerné.</li>
<li>Le champ obligatoire dispose de l’attribut aria-invalid="true".</li>
</ul>