<p>Chaque balise <code>&lt;label&gt;</code> permet-elle de connaître la fonction exacte du <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#champ-de-saisie-de-formulaire">champ de formulaire</a> auquel elle est associée ?</p>