<p>Dans chaque page web, les <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#changement-brusque-de-luminosite-ou-effet-de-flash">changements brusques de luminosité ou les effets de flash</a> sont-ils correctement utilisés ?</p>