<p>Chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#image-objet">image objet</a> (balise <code>&lt;object&gt;</code> avec l’attribut <code>type="image/…"</code>) <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#image-de-decoration">de décoration</a>, sans <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#legende">légende</a>, vérifie-t-elle ces conditions ?</p>

<ul>
<li>La balise <code>&lt;object&gt;</code> possède un attribut WAI-ARIA <code>aria-hidden="true"</code>.</li>
<li>La balise <code>&lt;object&gt;</code> est dépourvue d’<a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#alternative-textuelle-image">alternative textuelle</a>.</li>
<li>Il n’y a aucun texte faisant office d’<a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#alternative-textuelle-image">alternative textuelle</a> entre <code>&lt;object&gt;</code> et <code>&lt;/object&gt;</code>.</li>
</ul>