<p>Dans chaque page web, les informations regroupées visuellement sous forme de <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#listes">liste</a> non ordonnée vérifient-elles une de ces conditions ?</p>

<ul>
<li>La liste utilise les balises HTML <code>&lt;ul&gt;</code> et <code>&lt;li&gt;</code>.</li>
<li>La liste utilise les attributs WAI-ARIA <code>role="list"</code> et <code>"listitem"</code>.</li>
</ul>