<p>Pour chaque page web, l’indication de langue par défaut vérifie-t-elle une de ces conditions ?</p>

<ul>
<li>L’indication de la langue de la page (attribut <code>lang</code> et/ou <code>xml:lang</code>) est donnée pour l’élément <code>html</code>.</li>
<li>L’indication de la langue de la page (attribut <code>lang</code> et/ou <code>xml:lang</code>) est donnée sur chaque élément de texte ou sur l’un des éléments parents.</li>
</ul>