<p>Dans chaque page web, chaque contenu clignotant, déclenché automatiquement, vérifie-t-il une de ces conditions ?</p>

<ul>
<li>La durée du clignotement est inférieure ou égale à 5 secondes.</li>
<li>L’utilisateur peut arrêter et relancer le clignotement.</li>
<li>L’utilisateur peut afficher et masquer le contenu clignotant.</li>
<li>L’utilisateur peut afficher la totalité de l’information sans le clignotement.</li>
</ul>