<p>Chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#champ-de-saisie-de-formulaire">champ de formulaire</a> associé à une balise <code>&lt;label&gt;</code> ayant un attribut <code>for</code>, vérifie-t-il ces conditions ?</p>

<ul>
<li>Le <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#champ-de-saisie-de-formulaire">champ de formulaire</a> possède un attribut <code>id</code>.</li>
<li>La valeur de l’attribut <code>for</code> est égale à la valeur de l’attribut <code>id</code> du <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#champ-de-saisie-de-formulaire">champ de formulaire</a> associé.</li>
</ul>