<p>Dans chaque page web, l’information reste-t-elle présente lorsque les <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#feuille-de-style">feuilles de styles</a> sont désactivées ?</p>