<p>Pour chaque page web, chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#procede-de-rafraichissement">procédé de rafraîchissement</a> (balise <code>&lt;object&gt;</code>, balise <code>&lt;embed&gt;</code>, balise <code>&lt;svg&gt;</code>, balise <code>&lt;canvas&gt;</code>, balise <code>&lt;meta&gt;</code>) vérifie-t-il une de ces conditions (hors cas particuliers) ?</p>

<ul>
<li>L’utilisateur peut arrêter ou relancer le rafraîchissement.</li>
<li>L’utilisateur peut augmenter la limite de temps entre deux rafraîchissements de dix fois, au moins.</li>
<li>L’utilisateur est averti de l’imminence du rafraîchissement et dispose de vingt secondes, au moins, pour augmenter la limite de temps avant le prochain rafraîchissement.</li>
<li>La limite de temps entre deux rafraîchissements est de vingt heures, au moins</li>
</ul>