<p>Dans chaque page web où elles sont présentes, la <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#zone-d-en-tete">zone d’en-tête</a>, de <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#menu-et-barre-de-navigation">navigation principale</a>, de <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#zone-de-contenu-principal">contenu principal</a>, de <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#zone-de-pied-de-page">pied de page</a> et de <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#moteur-de-recherche-interne-a-un-site-web">moteur de recherche</a> respectent-elles au moins une de ces conditions :</p>

<ul>
<li>La zone possède un rôle WAI-ARIA de type <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#landmarks">landmark</a> correspondant à sa nature.</li>
<li>La zone possède un titre de hiérarchie dont le contenu permet de comprendre la nature du contenu de la zone.</li>
<li>La zone peut être masquée par le biais d’un bouton précédent directement la zone dans l’ordre du code source.</li>
<li>La zone peut être évitée par le biais d’un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#liens-d-evitement-ou-d-acces-rapide">lien d’évitement</a> précédent directement la zone dans l’ordre du code source.</li>
<li>La zone peut être atteinte par le biais d’un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#liens-d-evitement-ou-d-acces-rapide">lien d’accès rapide</a> visible à la prise de focus lors d’une tabulation.</li>
</ul>