<p>Les cas suivants sont non applicables pour ce critère :</p>

<ul>
<li>Composant d’interface inactif (exemple un bouton avec un attribut <code>disabled</code>) sur lequel aucune action n’est possible.</li>
<li>Composant d’interface pour lequel l’apparence est gérée par les styles natifs du navigateur sans aucune modification par l’auteur (exemple le style au focus natif dans chrome ou firefox).</li>
<li>Composant d’interface pour lequel la couleur n’est pas nécessaire pour identifier le composant ou son état (exemple un groupe de liens faisant office de navigation dont la position dans la page, la taille et la couleur du texte permettent de comprendre qu’il s’agit de liens même si la couleur du soulignement des liens avec le fond blanc n’a pas un ratio de 3:1 et que le texte lui a un ratio de 4.5:1).</li>
<li>Élément graphique ou parties d’élément graphique non porteur d’information ou ayant une alternative (description longue, informations identiques visibles dans la page).</li>
<li>Élément graphique ou parties d’élément graphique faisant partie d’un logo ou du nom de marque d’un organisme ou d’une société.</li>
<li>Élément graphique ou parties d’élément graphique dont la présentation est essentielle à l’information véhiculée (exemple drapeaux, logotypes, photos de personnes ou de scènes, captures d’écran, diagrammes médicaux, carte de chaleurs).</li>
<li>Élément graphique ou parties d’élément graphique dynamiques dont le contraste au survol / focus est suffisant.</li>
</ul>