<p>Chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#script">script</a> qui génère ou contrôle un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#composant-d-interface">composant d’interface</a> vérifie-t-il ces conditions (hors cas particuliers) ?</p>

<ul>
<li>Le composant possède un nom pertinent.</li>
<li>Le nom accessible du composant contient au moins l’<a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#intitule-visible">intitulé visible</a>.</li>
<li>Le composant possède un rôle pertinent.</li>
</ul>