<p>Chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#legende">légende</a> d’image est-elle, si nécessaire, correctement reliée à l’image correspondante ?</p>