<p>Pour chaque déclaration de <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#type-de-document">type de document</a>, le code source généré de la page vérifie-t-il ces conditions (hors cas particuliers) ?</p>

<ul>
<li>Les balises, attributs et valeurs d’attributs respectent les <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#regles-d-ecriture">règles d’écriture</a>;</li>
<li>L’imbrication des balises est conforme;</li>
<li>L’ouverture et la fermeture des balises sont conformes;</li>
<li>Les valeurs d’attribut id sont uniques dans la page;</li>
<li>Les attributs ne sont pas doublés sur un même élément.</li>
</ul>