<p>Il existe une gestion de cas particulier pour les tests 6.1.1, 6.1.2, 6.1.3 et 6.1.4 lorsque le lien est ambigu pour tout le monde. Dans cette situation, où il n’est pas possible de rendre le lien explicite dans son contexte, le critère est non applicable.</p>

<p>Il existe une gestion de cas particulier pour le test 6.1.5 lorsque :</p>

<ul>
<li>La ponctuation et les lettres majuscules sont présentes dans le texte de l’<a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#intitule-visible">intitulé visible</a> : elles peuvent être ignorées dans le nom accessible sans porter à conséquence.</li>
<li>Le texte de l’<a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#intitule-visible">intitulé visible</a> sert de symbole : le texte ne doit pas être interprété littéralement au niveau du nom accessible. Le nom doit exprimer la fonction véhiculée par le symbole (par exemple, "B" au niveau d’un éditeur de texte aura pour nom accessible "Mettre en gras", le signe ">" en fonction du contexte signifiera "Suivant" ou "Lancer la vidéo"). Le cas des symboles mathématiques fait cependant exception (voir la note ci-dessous).</li>
</ul>

<p>Note : si l’étiquette visible représente une expression mathématique, les symboles mathématiques peuvent être repris littéralement pour servir d’étiquette au nom accessible (ex. : "A>B"). Il est laissé à l’utilisateur le soin d’opérer la correspondance entre l’expression et ce qu’il doit épeler compte tenu de la connaissance qu’il a du fonctionnement de son logiciel de saisie vocale ("A plus grand que B" ou "A supérieur à B").</p>