<p>Chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#champ-de-saisie-de-formulaire">champ de formulaire</a> ayant une <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#etiquette-de-champ-de-formulaire">étiquette</a> dont le contenu n’est pas visible ou à proximité (masqué, <code>aria-label</code>) ou qui n’est pas <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#accoles-etiquette-et-champ-accoles">accolé</a> au champ (<code>aria-labelledby</code>), vérifie-t-il une de ses conditions ?</p>

<ul>
<li>Le <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#champ-de-saisie-de-formulaire">champ de formulaire</a> possède un attribut <code>title</code> dont le contenu permet de comprendre la nature de la saisie attendue.</li>
<li>Le <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#champ-de-saisie-de-formulaire">champ de formulaire</a> est accompagné d’un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#passage-de-texte-lie-par-aria-labelledby-ou-aria-describedby">passage de texte</a> accolé au champ qui devient visible à la prise de focus permettant de comprendre la nature de la saisie attendue.</li>
<li>Le <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#champ-de-saisie-de-formulaire">champ de formulaire</a> est accompagné d’un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#passage-de-texte-lie-par-aria-labelledby-ou-aria-describedby">passage de texte</a> visible accolé au champ permettant de comprendre la nature de la saisie attendue.</li>
</ul>