<p>Pour chaque page web, chaque procédé de <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#redirection">redirection</a> effectué via une balise <code>&lt;meta&gt;</code> est-il immédiat (hors cas particuliers) ?</p>