<p>Chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#script">script</a> qui génère ou contrôle un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#composant-d-interface">composant d’interface</a> vérifie-t-il, si nécessaire, une de ces conditions ?</p>

<ul>
<li><a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#le-nom-le-role-la-valeur-le-parametrage-et-les-changements-d-etats">Le nom, le rôle, la valeur, le paramétrage et les changements d’états</a> sont accessibles aux technologies d’assistance via une API d’accessibilité.</li>
<li>Un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#composant-d-interface">composant d’interface</a> accessible permettant d’accéder aux mêmes fonctionnalités est présent dans la page.</li>
<li>Une <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#alternative-a-script">alternative</a> accessible permet d’accéder aux mêmes fonctionnalités.</li>
</ul>