<p>Dans chaque page web, chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#lien-dont-la-nature-n-est-pas-evidente">lien dont la nature n’est pas évidente</a> est-il visible par rapport au texte environnant ?</p>