<p>Pour chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#tableau-de-donnees-ayant-un-titre">tableau de données ayant un titre</a>, celui-ci est-il pertinent ?</p>