<p>Chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#champ-de-saisie-de-formulaire">champ de formulaire</a> ayant un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#intitule-visible">intitulé visible</a> vérifie-t-il ces conditions (hors cas particuliers) ?</p>

<ul>
<li>S’il est présent, le contenu de l’attribut WAI-ARIA <code>aria-label</code> du <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#champ-de-saisie-de-formulaire">champ de formulaire</a> contient au moins l’<a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#intitule-visible">intitulé visible</a>.</li>
<li>S’il est présent, le <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#passage-de-texte-lie-par-aria-labelledby-ou-aria-describedby">passage de texte</a> lié au <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#champ-de-saisie-de-formulaire">champ de formulaire</a> via un attribut WAI-ARIA <code>aria-labelledby</code> contient au moins l’<a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#intitule-visible">intitulé visible</a>.</li>
<li>S’il est présent, le contenu de l’attribut <code>title</code> du <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#champ-de-saisie-de-formulaire">champ de formulaire</a> contient au moins l’<a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#intitule-visible">intitulé visible</a>.</li>
<li>S’il est présent le contenu de la balise <code>&lt;label&gt;</code> associé au <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#champ-de-saisie-de-formulaire">champ de formulaire</a> contient au moins l’<a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#intitule-visible">intitulé visible</a>.</li>
</ul>