<p>Dans chaque formulaire, chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#legende">légende</a> associée à un regroupement de champs de même nature est-elle pertinente ?</p>