<p>Dans chaque page web, la structure du document vérifie-t-elle ces conditions (hors cas particuliers) ?</p>

<ul>
<li>La <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#zone-d-en-tete">zone d’en-tête de la page</a> est structurée via une balise <code>&lt;header&gt;</code>.</li>
<li>Les <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#menu-et-barre-de-navigation">zones de navigation principales et secondaires</a> sont structurées via une balise <code>&lt;nav&gt;</code>.</li>
<li>La balise <code>&lt;nav&gt;</code> est réservée à la structuration des <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#menu-et-barre-de-navigation">zones de navigation principales et secondaires</a>.</li>
<li>La <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#zone-de-contenu-principal">zone de contenu principal</a> est structurée via une balise <code>&lt;main&gt;</code>.</li>
<li>La structure du document utilise une balise <code>&lt;main&gt;</code> visible unique.</li>
<li>La <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#zone-de-pied-de-page">zone de pied de page</a> est structurée via une balise <code>&lt;footer&gt;</code>.</li>
</ul>