<p>Chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#ensemble-de-pages">ensemble de pages</a> vérifie-t-il une de ces conditions (hors cas particuliers) ?</p>

<ul>
<li>Un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#menu-et-barre-de-navigation">menu de navigation</a> et un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#page-plan-du-site">plan du site</a> sont présents.</li>
<li>Un menu de navigation et un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#moteur-de-recherche-interne-a-un-site-web">moteur de recherche</a> sont présents.</li>
<li>Un moteur de recherche et un plan du site sont présents.</li>
</ul>