<p>Dans chaque page web, chaque texte écrit dans une langue différente de la <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#langue-par-defaut">langue par défaut</a> vérifie-t-il une de ces conditions (hors cas particuliers) ?</p>

<ul>
<li>L’indication de langue est donnée sur l’élément contenant le texte (attribut <code>lang</code> et/ou <code>xml:lang</code>).</li>
<li>L’indication de langue est donnée sur un des éléments parents (attribut <code>lang</code> et/ou <code>xml:lang</code>).</li>
</ul>