<p>Chaque image pourvue d’une <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#legende">légende</a> (balise <code>&lt;img&gt;</code>, <code>&lt;input&gt;</code> avec l’attribut <code>type="image"</code> ou possédant un attribut WAI-ARIA <code>role="img"</code> associée à une <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#legende">légende</a> adjacente), vérifie-t-elle, si nécessaire, ces conditions ?</p>

<ul>
<li>L’image (balise <code>&lt;img&gt;</code>, <code>&lt;input&gt;</code> avec l’attribut <code>type="image"</code> ou possédant un attribut WAI-ARIA <code>role="img"</code>) et sa <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#legende">légende</a> adjacente sont contenues dans une balise <code>&lt;figure&gt;</code>.</li>
<li>La balise <code>&lt;figure&gt;</code> possède un attribut WAI-ARIA <code>role="figure"</code> ou <code>role="group"</code>.</li>
<li>La balise <code>&lt;figure&gt;</code> possède un attribut WAI-ARIA <code>aria-label</code> dont le contenu est identique au contenu de la <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#legende">légende</a>.</li>
<li>La <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#legende">légende</a> est contenue dans une balise <code>&lt;figcaption&gt;</code>.</li>
</ul>