<p>Pour chaque image vectorielle (balise <code>&lt;svg&gt;</code>) utilisé comme <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#captcha">CAPTCHA</a> ou comme <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#image-test">image-test</a>, ayant une <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#alternative-textuelle-image">alternative textuelle</a>, cette alternative est-elle pertinente ?</p>

<ul>
<li>S’il est présent, le contenu de l’attribut <code>title</code> est pertinent.</li>
<li>S’il est présent, le contenu de l’attribut WAI-ARIA <code>aria-label</code> est pertinent.</li>
<li>S’il est présent, le <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#passage-de-texte-lie-par-aria-labelledby-ou-aria-describedby">passage de texte</a> associé via l’attribut WAI-ARIA <code>aria-labelledby</code> est pertinent.</li>
</ul>