<p>Dans chaque page web, les <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#message-de-statut">messages de statut</a> sont-ils correctement restitués par les technologies d’assistance ?</p>