<p>Les liens du <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#page-plan-du-site">plan du site</a> renvoient-ils bien vers les pages indiquées par l’intitulé ?</p>