<p>Chaque <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#image-objet">image objet</a> (balise <code>&lt;object&gt;</code> avec l’attribut <code>type="image/…"</code>) <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#image-porteuse-d-information">porteuse d’information</a>, qui nécessite une <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#description-detaillee-image">description détaillée</a>, vérifie-t-elle une de ces conditions ?</p>

<ul>
<li>Il existe une <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#alternative-textuelle-image">alternative textuelle</a> contenant la référence à une <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#description-detaillee-image">description détaillée</a> adjacente à l’image.</li>
<li>Il existe un <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#lien-ou-bouton-adjacent">lien ou un bouton adjacent</a> permettant d’accéder à la <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/methode/glossaire/#description-detaillee-image">description détaillée</a>.</li>
</ul>